@CHARSET "UTF-8";


#view_login,
input[type="submit"]
 {
	position:relative;
}

.bulle,#view_login,
input[type="submit"],#wrapper,#menuVertical,#miniature,#left ul,#left ul li a,#contBlocStats,#contAct,#accueilB5
	
	{
	behavior: url(/aptana/extra-immo/css/pie/PIE.htc);
}

#menuPrincipal li a {
	padding: 10% 1px 10% 1px;
	font-size: 0.9em;
}

input[type="text"],input[type="password"] { 
	
}
