@CHARSET "UTF-8";

/*
#view_login,
input[type="submit"]
 {
	
	behavior: url(PIE.htc); 
	
}
input[type="submit"]{
	border:none;
}
*/
#menuPrincipal li a {
	padding: 10% 1px 10% 1px;
	font-size: 0.9em;
}

input[type="text"],input[type="password"] { /*width: */
	
}